
@media screen and (min-width: 250px) and (max-width: 900px){

    
    html, body{
        overflow-x: hidden;
    }
    .overlay{
        gap:10px;
    }
    .overlay h1{
        margin-bottom: 5px;
    }
    .header-nav .nav-buttons{
        display: none;
  
    }
    .date-heading{
        font-size:1.25rem;
    }
    .nav-buttons-mobile{
        display: flex;
        
    }

    .nav-btn{
        color:#f5f5f5;
    }
    
    .nav-btn::after{
        margin-left: 35px;
        width: 60%;
        
    }

    .nav-btn a:hover{
        color: rgb(176, 98, 255);
    }

    .header-nav .branding .brand-name{
        transform: translateY(0);
        
    }
    h1{
        font-size: 1.7rem;
    }
   
  
    .hamburger{
        display: flex;
        
    }

    .hamburger span{
        background-color: rgb(176, 98, 255);
    }
    .carousel-item{
        height: 300px;
    }
    .row .col-lg-6{
        margin-bottom: -200px;
    }
    .about-us .container .row .col-lg-6 h3 {
        font-size: 20px;
    }
    .about h1{
        font-size: 25px;
        margin-top: -50px;
        margin-bottom: -50px;
    }
    .news{
        font-size: 15px;
    }
    .about-us .container .row .col-lg-6 h1{
        
        font-size: 30px;
    }
  
    .carousel-item img {
        height: 15rem;
    }

    #carouselExampleIndicators {
        height: 15rem;
        background-color: rgba(174, 188, 207, 0.397);
    }
    .carousel{
        position: relative;
        top: 25px;
    }

    .d-block {
        width: 100%;
        height: 50rem;
        margin: 0;
        padding: 0;
    }

    .carousel-control-prev-icon {
        filter: invert(100%);
        width: 20px;
        height: 20px;
    }

    .carousel-control-next-icon {
        filter: invert(100%);
        width: 20px;
        height: 20px;
    }
    };
    
    @media screen and (min-width: 768px) {
        section {
          padding: 0 2em;
          margin-bottom: 200px;
        }
        .column {
          flex: 0 50%;
          max-width: 50%;
        }
      }
      @media screen and (min-width: 992px) {
        section {
          padding: 1em 3em;
       
        }
        .column {
          flex: 0 0 33.33%;
          max-width: 33.33%;
        }
      }
  

@media (max-width:720px){
    .footer{
    
    text-align:left;
    padding:5%;
    }
    .footer .footer-row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .footer-row a i{
    margin:0% 3%;
    }
    }