
a {
  text-decoration:none !important;
  color: #0E2F47 !important;
}
ul {
  margin: 15px 35px;
  padding: 0;
}
ul li {
  line-height: 1.2 !important;
  font-size: 16px;
  padding: 5px 0;
}
img{
  border:0 none;
  height:auto;
  line-height:100%;
  outline:none;
  text-decoration:none;
  display:block;
}
a img{
  border:0 none;
}
mark {
  display: inline-block;
  line-height: 0.1em;
  padding-bottom: 0.5em;
  background-color: #f6dacc;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #0E2F47 !important;
  font-weight: 600;
}
.fill {

  
  -webkit-text-fill-color: transparent;
}

/* END MAIN CSS */

/* START MAIN HERO STYLES */
.mobileShow {
  display: none;
}
.hero-header, .hero-subheader, .hero-smalltext {
  font-family: Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0E2F47 !important;
  text-align: left;
  text-decoration:none !important;
  display: block;
  line-height:  1.3 !important;
  letter-spacing: 0.02em;
  margin: 0;
}
h2.hero-header {
  font-size: 30px;
  font-weight: 300 !important;
}
h3.hero-subheader {
  font-size: 26px;
  font-weight: 300 !important;
  margin-bottom: 15px;
}
p.hero-smalltext{
  font-size: 16px;
  font-weight: 300 !important;
}
.hero {
  background-image: url("https://img.freepik.com/free-photo/multicoloured-sewing-threads-with-copy-space_23-2148355079.jpg?w=1380&t=st=1697308035~exp=1697308635~hmac=5b38d23a280b683432c15521fcf6adab9068369ed9749e0a621891530c543224");

  background-color: #FFFFFF;
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
}
.hero-container {
  min-height: 500px;
  padding: 75px 20px;
  max-width: 990px;
  margin: 0 auto;
  position: relative;
}
.hero-content {
  max-width: 450px;
  position: absolute;
  float: right;
  left: 55%;
  top: 30%;
}

/* END MAIN HERO STYLES */

/* START SECTION HEADER STYLES */
.section-header, .section-subheader, .section-smalltext {
  font-family: Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0E2F47 !important;
  text-align: center;
  text-decoration:none !important;
  display: block;
  line-height:  1.3 !important;
  letter-spacing: 0.02em;
  margin: 0;
}
h2.section-header {
  font-size: 30px;
  font-weight: 300 !important;
}
h3.section-subheader {
  font-size: 22px;
  font-weight: 300 !important;
  margin-bottom: 15px;
}
p.section-smalltext{
  font-size: 16px;
  font-weight: 300 !important;
}
/* END SECTION HEADER STYLES */

/* START CARD STYLES - Version 1 */
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 50px;
}
.card {
  margin: 25px 15px;
  width: 250px;
  height: 330px;
  position: relative;
  border-radius: none;
  /*box-shadow: 7px 7px 25px 2px rgba(102, 68, 0, 0.5);*/
  cursor: pointer;
  transition: 0.4s;
}
.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: none;
}
.card_image img {
  width: 250px;
  height: 250px;
  position: absolute;
  display: inline-block;
  border-radius: none;
  object-fit: cover;
}
/*.card_image:hover {
  opacity: 0.5;
}*/
.card_image .img_hover {
  display: none;
}
.card_image:hover .img_hover {
  display: inline;
}
.card_large {
  margin: 25px 15px;
  width: 530px;
  height: 380px;
  position: relative;
  border-radius: none;
  /*box-shadow: 7px 7px 25px 2px rgba(102, 68, 0, 0.5);*/
  cursor: pointer;
  transition: 0.4s;
}
.card_large .card_image_large {
  width: inherit;
  height: inherit;
  border-radius: none;
}
.card_image_large img {
  width: 530px;
  height: 380px;
  position: absolute;
  display: inline-block;
  border-radius: none;
  object-fit: cover;
}
.card_label {
  color: #FFFFFF;
  background: #0E2F47;
  font-size: 14px;
  text-align: center;
  line-height: 2;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: none;
  width: 80px;
  position: relative; 
  top: -330px;
  margin-left: 0;
}
.card_text {
  color: #0E2F47;
  background: #F6F4F5;
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  top: -135px;
  padding: 10px 0;
}
.card_text .h3_text:hover, .card_text .p_text:hover {
  color: #3cadac;
}
.p_text, .h3_text {
  display: grid;
  line-height: 1.5 !important;
}
.p_text {
  font-size: 16px !important;
  font-weight: 400;
  line-height: 1.2 !important;
}
.h3_text {
  font-size: 20px !important;
  font-weight: 600;
}
.badge_text {
  font-size: 22px !important;
  font-weight: 400;
  line-height: 1.2 !important;
  margin-top: -8px;
}
.card_header {
  color: #0E2F47;
  background: #FFF;
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
  text-align: left;
  line-height: 1.5;
  font-weight: 500;
  max-width: 200px;
  padding: 8px;
  border-radius: none;
  position: relative; 
  top: -330px;
}
.card_badge {
  z-index: 99;
  position: absolute;
  width: 115px;
  height: 115px;
  background-color: #efa59e;
  border-radius: 50%;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fcfcfc;
  font-size: 22px;
  text-align: center;
  line-height: 24px;
  top: -1.5rem;  
  left: 10rem;
  margin: 0 auto;
}
.btn2 {
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #0E2F47;
  color: #FFFFFF;
  padding: 15px 25px;
  border: none;
  position: relative; 
  top: -13.5rem;
  left: 2rem;
  border-radius: 5%;
}
.btn:hover {
  background-color: #FF6B70;
  color: #FFFFFF;
}


/* START BUTTON CSS */

/**** START PRIMARY BUTTON ****/
.btn {
  margin: 20px 0;
  padding: 18px 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #FFFFFF !important;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 4px;
  font-family: Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration:none !important;
  font-size: 18px;
  vertical-align: middle;
  min-width: 210px;
  border: none !important;
}
.btn:hover {
  background-position: right center; /* change the direction of the change here */
}
.btn-1 {
  
  font-weight: 800;
}
/**** END PRIMARY BUTTON ****/

/**** START DROPDOWN BUTTON ****/
.dropdown {
  position: relative;
  position: inline-block;
}
.dd-button {
  padding: 18px 40px;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #4A0166 0%, #000 51%, #4A0166 100%);

  font-weight: 600;
  transition: 0.5s;
  background-size: 200% auto;
  color: #FFFFFF !important;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  /*box-shadow: 0 0 20px #eee;*/
  border-radius: 4px;
  font-family: Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration:none !important;
  font-size: 18px;
  border: none !important;
  margin: 15px 0px;
}
.dd-button:hover {
  background-position: right center; /* change the direction of the change here */
}

.dd-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  top: 100%;
  border: none;
  border-radius: 4px;
  padding: 5px 0;
  margin: 5px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  list-style-type: none;
  z-index: 4;
}
.dd-menu a {
  color: #0E2F47;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dd-menu a:hover {
  background-color: #FFFFFF;
  color: #3cadac !important;
}

.dropdown:hover .dd-menu {
  display: block;
}

.dd-menu:hover .dd-button {
  background-color: #3e8e41;
}
/**** END DROPDOWN BUTTON ****/
/* END BUTTON CSS */


